@use "../../../shared/style/colors" as c;
@import "../../../shared/style/mixins";

.Contact {
  padding: 0 100px;
  margin-bottom: 140px;
}

.Container {
  background: c.$grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 45px;
}

.Form {
  padding: 60px 0 80px 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 556px;
}

.Inputs {
  display: flex;
  flex-direction: column;
}

.Label {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 28px;
}

.Input {
  @include Paragraph();

  margin-bottom: 25px;
  padding: 18px 30px;
  color: #898989;
  border-radius: 14px;
  border: 1px solid c.$black;
}

.Textarea {
  @include Paragraph();

  margin-bottom: 25px;
  padding: 18px 30px;
  color: #898989;
  border-radius: 14px;
  border: 1px solid c.$black;
  resize: none;
  height: 190px;
}

.Image {
  transform: translateX(50%);
}
