@use "../../../shared/style/colors" as c;
@import "../../../shared/style/mixins";

.Header {
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: c.$white;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.Link {
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  color: c.$black;
}
